<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :page_title %> | Einstein</title>
<%= favicon_link_tag 'einstein.png'%>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="<%= controller_name %> <%= action_name %>">
      <%= yield %>
    </div>
  </body>
</html>
